//- Script - begin
script(src="../libs/scripts/jquery-last.min.js")
script(src="../libs/scripts/ruby01.js")
script(src="../ruby/rubyanimate.js") <!-- Ruby Animate -->
script(src="../ruby/rubytabs.js") <!-- RubyTabs Plugins -->
//- script(src="../ruby/rubytabs-js.js") <!-- RubyTabs JS Plugins -->
script(src="../libs/scripts/custom.js") <!-- Page custom script -->