head
  //- Page Infomations
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  meta(name="description" content="Simple Tabs Javascript")
  meta(name="keywords" content="tabs, slider, carousel, gallery")
  meta(name="author" content="RubyTabs JS - Nguyen Van Thy")

  //- Title of page
  title #{title}

  //- CSS link
  link(rel="stylesheet" href="../libs/css/ruby00.css")
  link(rel="stylesheet" href="../libs/css/ruby01.css")
  link(rel="stylesheet" href="../libs/css/styles.custom.css")
  link(rel="stylesheet" href="../ruby/rubytabs.css")
