//- Variable Globals
- var title = 'Tabs Layout Simplest'

doctype html
html(lang="en")
  //- Heaer
  include _header.jade
  
  //- Body
  body
    .wrapper
      .container

        //- Tabs here
        .rt01(data-tabs={
          "fx" : "line",
          "speed" : "400",
          "pag" : { "align": "center", "typeSizeItem": "max" }
        })
        
          div
            .rt01pagitem OVERVIEW
            .row.font-blokk
              .col4.col-xs-6
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet blanditiis aspernatur repellendus, esse illum suscipit nihil, minima beatae quaerat labore nisi fugit, officiis dignissimos saepe ab facilis qui non quas!

              .col4.col-xs-6
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet blanditiis aspernatur repellendus, esse illum suscipit nihil, minima beatae quaerat labore nisi fugit, officiis dignissimos saepe ab facilis qui non quas!
                p Nam facilis tempore maxime incidunt deserunt, ipsum pariatur, accusamus animi quidem velit tenetur eum nesciunt quos veniam architecto neque impedit! Sed accusamus commodi dignissimos dolorem distinctio, itaque dicta non maiores?

              .col4.col-xs-6
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet blanditiis aspernatur repellendus, esse illum suscipit nihil, minima beatae quaerat labore nisi fugit, officiis dignissimos saepe ab facilis qui non quas!
                p Nam facilis tempore maxime incidunt deserunt, ipsum pariatur, accusamus animi quidem velit tenetur eum nesciunt quos veniam architecto neque impedit! Sed accusamus commodi dignissimos dolorem distinctio, itaque dicta non maiores?

          div
            .rt01pagitem SLIDER NESTED
            //- Dummy Content
            .row.font-blokk
              .col4
                p.bo-l-h <i>Consectetur adipisicing elit. Vel, sequi, quis, minima, dolor quisquam numquam quod in repudiandae officia.</i>

              .col8
                p.dropcap Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, pariatur aliquam molestias aspernatur non. Facere, quibusdam, reiciendis, natus laudantium debitis suscipit consequatur voluptatibus mollitia temporibus quia ratione dignissimos magnam provident.
                p Assumenda, repudiandae, iste magni labore culpa eum expedita eligendi odio molestiae temporibus id ab nihil ad sunt mollitia veritatis excepturi. Ullam, odit nesciunt doloribus natus non repudiandae error itaque vero?

          div
            .rt01pagitem SWIPE PREVENT
            .row.bg-wrap
              .col4
                .rt01swipe-prevent area-highlight
                  h2.color-hl Area prevent Swipe gestures
                  p <i>Insert class "{ns}swipe-prevent" to stop swipe gestures on that element</i>
                  p.font-blokk <i>Consectetur adipisicing elit. Vel, sequi, quis, minima, dolor quisqua</i>
                  a Go to &rarr;

              .col8
                form.block.clearfix
                  input(type="text" class="large" placeholder="Username")
                  input(type="text" class="large" placeholder="Password")
                  input(type="text" class="large" placeholder="Repeat Password")
                  input(type="text" class="large" placeholder="Email")
                  textarea(name="" cols="30" rows="5" placeholder="Your bio")

                  label(class="checkbox text-small muted pull-left" for="terms")
                    input(id="terms" type="checkbox")
                    I have read and I agree the Terms of Use
                  input(class="btn large pull-right no-ma" type="submit" value="Register")

          div
            .rt01pagitem IMAGE LAZYLOAD
            .row
              .col4
                a(class="rt01img card-img" href="../templates_old/imgs/food-thumbnail1.jpg") Food 1
              .col4
                a(class="rt01img card-img" href="../templates_old/imgs/food-thumbnail2.jpg") Food 2
              .col4
                a(class="rt01img card-img" href="../templates_old/imgs/food-thumbnail3.jpg") Food 3
              .col4
                a(class="rt01img card-img" href="../templates_old/imgs/food-thumbnail4.jpg") Food 4
              .col4
                a(class="rt01img card-img" href="../templates_old/imgs/food-thumbnail6.jpg") Food 6
              .col4
                a(class="rt01img card-img" href="../templates_old/imgs/food-thumbnail7.jpg") Food 7

    include _footer.jade